@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f2;
}

header {
    width: 100%;
    background-color: #2a9d8f; /* sea green background */
    color: black;
    padding: 20px 0; /* add padding to ensure content fits and is not cut off */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0; /* add some margin around the headings */
}

img {
    display: block;
    height: 100px; /* adjust as necessary */
    width: auto; /* maintain aspect ratio */
    padding: 10px; /* add padding around the image */
    border-radius: 10px; /* optional: rounded corners */
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid #264653;
    box-shadow: 5px 10px #2a9d8f;
    padding: 20px;
    background-color: #ffffff; /* White background for readability */
}

a {
    color: #264653;
    text-decoration: none; /* No underline by default */
}

a:hover {
    color: #2a9d8f;
    text-decoration: underline; /* Underline on hover */
}

@media (max-width: 768px) {
    .card {
        width: 95%;
        margin: 20px auto;
    }
}

footer {
    background-color: #264653;
    color: white;
    padding: 20px 0;
    font-size: 18px;
}
